/* TODO Add site wide styles */

.logo {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(236, 104, 126);
    font-size: 40px;
}

.nav-links {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
}

.show-page h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(219, 70, 95);
    font-size: 25px;
}

.show-page p, ul {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bench-index-header {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(236, 104, 126);
    font-size: 25px;
}

.bench-list-header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(219, 70, 95);
    font-size: 25px;
}

.bench-list-container {
    display: grid;
    justify-content: flex-end;
}

.bench-list-item {
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: pink;
    margin: 10px;
    padding: 10px;
}